<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="app">
      <div class="search pane">
        <div class="hello"></div>  
        <input type="text"></input>
        <button class="search" disabled onclick="search()">Search</button>
        <div class="resultsContainer"></div>      
      </div>
      <div class="player pane">
        <div id="player"></div>
        <button class="collaborate" disabled onclick="collab()">Collaborate!</button>
      </div>    
    </div>
    <script src="/static/jquery-3.1.0.js"></script>	
    <script src="/static/utils.js"></script>
    <script src="/static/init.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/realtime.js"></script>
  </body>
</html>